/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    background-color: $light-tan;
    color: $dark-brown80;
}

h1,
h2,
button,
nav{
  font-family: $display-font-family;
  font-weight: normal;
}

h1{
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: .5rem;
}

h2{
  font-style: italic;
  font-size: 2em;
}
