$light-tan: #FFF8E7;

body{
  font-family: "Libre Baserville", Georgia, serif;
}

h1{
  font-size: 30px;
}

h2{
  font-style: italic;
  font-size: 24px;
}


//HEADER
.header{
  position: fixed;
  top: 16px;
  left: 16px;

  &-link{
    display: block;
    text-indent: -9999px;
    background-color: red;
    height: 40px;
    width: 40px;
  }
}

//NAVIGATION
.nav{
  position: fixed;
  height: 100vh;
  right: 16px;
  // top: 50%;
  display: flex;
  align-items: center;

  &-link-list{
    flex: 1 1 auto;
    list-style: none;

    &-item{
      text-align: right;
      margin: 8px 0px;
    }
  }
}

//SECTIONS
.section{
  display: block;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  background-color: $light-tan;
  overflow-x: hidden;

  &:after{ //clearfix
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  &-left,
  &-right{
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
  }

  &-left-image{
    margin: 0 auto;
    width: 80%;

    svg{
      height: 100%;
      width: 100%;
    }
  }

  &-right{
    background-color: white;
  }

  &-content{
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-text{
    flex: 0 1 auto;
    position: relative;
    left: 10%;
    width: 60%;
  }

  &-full{
    height: 100%;
    display: flex;
    align-items: center;

    &-text{
      flex: 0 1 auto;
      position: relative;
      left: 55%;
      width: 30%;
    }
  }

  &-center{
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;

    &-text{
      margin: 0 auto;
    }
  }
}

.section-home,
.section-library,
.section-kickstarter{
  background-color: #372f36;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $light-tan;
}

//HOME
.section-home{
  background-image: url(/images/home1440.png);

  &-logo{
    position: relative;
    top: 4rem;
    svg {
      width: 60%;
      display: block;
      margin: 0 auto;
      path{
        fill: $light-tan;
      }
    }
  }

  &-text{
    position: absolute;
    bottom: 18%;
    left: 6%;
    max-width: 60%;
  }
}

//ABOUT
.logo-svg{
  fill: white;
}

//LIBRARY
.section-library{
  background-image: url(/images/library1440.png);
  background-attachment: fixed;
}

//KICKSTARTER
.section-kickstarter{
  background-image: url(/images/kickstarter1440.png);
  background-attachment: fixed;
}

//FAQ
.section.section-faq{
  height: auto;
  padding-top: 6%;
  padding-bottom: 48px;

  h1{
    text-align: center;
  }
}

.faq-card{
  background: white;
  width: 70%;
  position: relative;
  padding: 24px 16px;
  display: flex;
  margin: 48px auto;

  &-image{
    flex: 0 0 30%;
  }

  &-text{
    flex: 1 1 auto;
  }

  &-list{
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px 0;
  }
}

@media (min-width:0px) and (max-width:768px) {
  .section-home{
    background-image: url(/images/home768.png);
  }
  .section-library{
    background-image: url(/images/library768.png);
  }
  .section-kickstarter{
    background-image: url(/images/kickstarter768.png);
  }
}

@media (min-width:769px) {
  .section-home{
    background-image: url(/images/home1024.png);
  }
  .section-library{
    background-image: url(/images/library1024.png);
  }
  .section-kickstarter{
    background-image: url(/images/kickstarter1024.png);
  }
}

@media (min-width:1025px) {
  .section-home{
    background-image: url(/images/home1440.png);
  }
  .section-library{
    background-image: url(/images/library1440.png);
  }
  .section-kickstarter{
    background-image: url(/images/kickstarter1440.png);
  }
}

@media (min-width:1441px) {
  .section-home{
    background-image: url(/images/home1920.png);
  }
  .section-library{
    background-image: url(/images/library1920.png);
  }
  .section-kickstarter{
    background-image: url(/images/kickstarter1920.png);
  }
}
