//HEADER
.header{
  position: fixed;
  top: 16px;
  right: 16px;

  &-link{
    display: block;
    text-indent: -9999px;
    background-color: red;
    height: 40px;
    width: 40px;
  }
}

//BUTTONS
button{
  display: inline-block;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: 6px double $gold;
  border-bottom: 6px double $gold;
  font-size: 1.25em;
  padding: 8px 16px;
  font-weight: normal;
  font-family: "Libre Baserville", Georgia, serif;
  color: $gold;
  text-transform: uppercase;
  letter-spacing: .08em;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus{
    opacity: .5;
  }

  &:active{
    border-color: $dark-brown;
    color: $dark-brown;
  }
}


//NAVIGATION
.nav{
  @include display(flex);
  @include align-items(center);
  position: fixed;
  height: 100vh;
  right: 16px;
  z-index: 100;

  &-link-list{
    @include flex(1 1 auto);
    list-style: none;

    &-item{
      text-align: right;
      margin: 8px 0px;
      // &.active{
      //   font-size: 110%;
      //   font-weight: bold;
      //   padding-right: 20px;
      // }
    }
  }

  a {
    color: $gold;
    text-decoration: none;

    &:hover,
    &:focus {
      font-size: 110%;
      font-weight: bold;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}

//SECTIONS
.section{
  display: block;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  background-color: $light-tan;
  overflow-x: hidden;

  &:after{ //clearfix
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  &-left,
  &-right{
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
  }

  &-left{
    background-color: $dark-tan;
    background-image:url(/images/paper1440.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    box-shadow: 1px 1px 2px 2px $dark-brown20;
  }

  &-left-image{
    margin: 0 auto;
    width: 95%;
    opacity: .8;
    svg{
      height: 100%;
      width: 100%;
      max-height: 80vh;
      opacity: .8;
    }
  }

  &-content{
    @include display(flex);
    @include align-items(center);
    height: 100%;
  }

  &-text{
    @include flex(0 1 auto);
    position: relative;
    left: 10%;
    width: 60%;
  }

  &-full{
    @include display(flex);
    @include align-items(center);
    height: 100%;

    &-text{
      flex: 0 1 auto;
      position: relative;
      left: 55%;
      width: 30%;
    }
  }

  &-center{
    @include display(flex);
    @include align-items(center);
    margin: 0 auto;
    text-align: center;
    height: 100%;

    &-text{
      margin: 0 auto;

      button{
        margin-top: 1.5rem;
      }
    }
  }
}

.section-home,
.section-library,
.section-kickstarter{
  background-color: $dark-brown;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

//HOME
.section-home{
  background-image: url(/images/home1440.png);
  color: $light-tan;
  position: relative;

  &-logo{
    position: relative;
    top: 16%;

    svg {
      width: 60%;
      display: block;
      margin: 0 auto;
      max-height: 40vh;
      path{
        fill: $light-tan;
      }
    }
  }

  &-text{
    position: absolute;
    bottom: 16%;
    left: 6%;
    max-width: 50%;

    button{
      margin-top: 1.5rem;
    }
  }
}

.scroll-pointer{
  @include transform(translateX(-50%));
  position: absolute;
  display: block;
  left: 50%;
  bottom: 16px;
  opacity: .5;
  text-decoration: none;
  color: $light-tan;

  &:hover{
    opacity: 1;
  }

  svg{
    display: block;
    width: 24px;
    height: 100%;
    margin: 0 auto;
  }

  &-text{
    text-align: center;
    font-style: italic;
  }
}

.finger-svg{
  fill: $light-tan;
}

//ABOUT
.section-contact{
  .section-left{
    height: 99%;
  }

  &-links{
    list-style: none;
    li{
      margin: 1rem 0;
    }
    a{
      text-decoration: none;
      color: $dark-brown80;
      font-style: italic;
      font-weight: bold;

      &:hover,
      &:focus{
        text-decoration: underline;
        color: $gold;
      }
    }
  }
}

//LIBRARY
.section-library{
  background-color: $light-tan;
  position: relative;
  // background-image: url(/images/library1440.png);
  // background-attachment: fixed;
}

.section-bg-img{ //absolutely responsive background images
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img{
    @include transform(translateX(-50%));
    left: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
}

//KICKSTARTER
.section-kickstarter{
  background-image: url(/images/kickstarter1440.png);
  background-attachment: fixed;
  color: $light-tan;
}

//FAQ
.section-faq{
  height: auto;
  padding-top: 240px;
  padding-bottom: 48px;

  h1{
    text-align: center;
  }
}

.faq-card{
  @include display(flex);
  @include align-items(center);
  background: white;
  background-image:url(/images/paper-card.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  padding: 1.5rem 2rem 1.5rem 1rem;
  margin: 4rem auto;
  box-shadow: 1px 1px 2px 2px $dark-brown20;

  &-image{
    @include flex(0 0 30%);
    height: 100%;

    svg{
      display: block;
      max-height: 100%;
      width: 90%;
      margin: 0 auto;
      opacity: .75;
    }
  }

  &-text{
    @include flex(1 1 auto);
    h2{
      margin-bottom: 1rem;
    }
  }

  &-list{
    max-width: 1000px;
    margin: 0 auto;
    padding: 48px 120px;
  }
}
// @media (max-width:670px){
//   .faq-card{
//     @include flex-wrap(wrap);
//     padding: 1rem;
//
//     &-list{
//       padding-top: 0px;
//     }
//
//     &-image{
//       @include flex(0 0 100%);
//       margin-bottom: 3rem;
//       max-height: 30vh;
//       svg{
//         max-height: 30vh;
//       }
//     }
//     &-text{
//       @include flex(0 0 100%);
//     }
//   }
//
//   .section-left .section-left-image{
//     width: 90%;
//     margin-bottom: 2rem;
//   }
// }
//
// @media (max-width:768px) {
//   h1{
//     font-size: 1.5em;
//   }
//
//   h2{
//     font-size: 1.25em
//   }
//   .section-home{
//     background-image: url(/images/home768.png);
//   }
//   .section-library{
//     background-image: url(/images/library768.png);
//   }
//   .section-kickstarter{
//     background-image: url(/images/kickstarter768.png);
//   }
//
//   .section-left{
//     background-color: $light-tan;
//     background-image: none;
//     box-shadow: none;
//     &-image{
//       width: 60%;
//       margin-bottom: 4rem;
//     }
//   }
//
//   .section-left,
//   .section-right{
//     width: 100%;
//     float: none;
//     height: auto !important;
//   }
//
//   .section{
//     @include display(flex);
//     @include justify-content(center);
//     @include flex-flow(column);
//
//     &-home{
//       display: block;
//     }
//
//     &-text{
//       left: 0;
//       margin: 0 auto;
//       width: 80%;
//     }
//     &-full-text{
//       left: 0;
//       width: 80%;
//       margin: 0 auto;
//     }
//     &-faq{
//       padding-top: 4rem;
//     }
//   }
//
//   .faq-card{
//     background-image: none;
//     background-color: $light-tan;
//     box-shadow: none;
//     &-list{
//       padding-left: 1rem;
//       padding-right: 1rem;
//     }
//   }
// }
//
// @media (max-width:1024px){
//   .section-library{
//     background-attachment: inherit;
//   }
//   .section-kickstarter{
//     background-attachment: inherit;
//   }
// }
//
// @media (min-width:769px) and (max-width:1024px) {
//   .section-home{
//     background-image: url(/images/home1024.png);
//   }
//   .section-library{
//     background-image: url(/images/library1024.png);
//   }
//   .section-kickstarter{
//     background-image: url(/images/kickstarter1024.png);
//   }
//   .section-left{
//     background-image:url(/images/paper1024.png);
//   }
// }
//
// @media (min-width:1025px) and (max-width:1440px) {
//   .section-home{
//     background-image: url(/images/home1440.png);
//   }
//   .section-library{
//     background-image: url(/images/library1440.png);
//   }
//   .section-kickstarter{
//     background-image: url(/images/kickstarter1440.png);
//   }
//   .section-left{
//     background-image:url(/images/paper1440.png);
//   }
// }
//
// @media (min-width:1441px) {
//   .section-home{
//     background-image: url(/images/home1920.png);
//   }
//   .section-library{
//     background-image: url(/images/library1920.png);
//   }
//   .section-kickstarter{
//     background-image: url(/images/kickstarter1920.png);
//   }
//   .section-left{
//     background-image:url(/images/paper1920.png);
//   }
// }
