// Our variables
$base-font-family: "Libre Baserville", Georgia, serif;
$base-font-size:   16px;
$base-font-weight: normal;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;


//COLORS
$light-tan: #FFF8E7;
$dark-tan: #ebd9bc;
$dark-brown: #241300;
$dark-brown80: rgba(36, 19, 0, .8);
$dark-brown20: rgba(36, 19, 0, .2);
$gold: #E8CD8C;
