.header{
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 120;
  display: none;
  height: 20px;
  width: 20px;

  &:hover{
    cursor: pointer;
  }

  &-logo{
    display: block;
    height: 40px;
    width: 40px;
    margin-right: 24px;

    svg{
      display: block;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
    }

    svg path{
      fill: $gold;
    }
  }
}

@media (max-width: 1023px){
  .header{
    display: block;
  }
}
