.nav{
  @include display(flex);
  @include align-items(center);
  position: fixed;
  height: 100vh;
  right: 24px;
  z-index: 100;

  &-link-list{
    @include flex(1 1 auto);
    list-style: none;

    &-item{
      text-align: right;
      margin: 8px 0px;
      position: relative;
      height: 24px;

      a{
        font-size: 80%;
        vertical-align: middle;
        position: relative;
      }

      a.is-selected{
        font-size: 120%;
        padding-right: 4px;
        font-style: italic;

        &:hover,
        &:focus{
          font-size: 120%;
        }

        &:after{
          content: "";
          position: absolute;
          right: -24px;
          top: 4px;
          background-color: transparent;
          opacity: 1;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-right:24px solid $gold;
        }
      }

      &-indicator{
        position: absolute;
        right: -24px;
        top: 12px;
        display: inline-block;
        width: 16px;
        height: 2px;
        background-color: $gold;
        opacity: .5;
      }
    }
  }

  a {
    @include transition(all ease 300ms);
    color: $gold;
    text-decoration: none;

    &:hover,
    &:focus {
      font-size: 110%;
      font-weight: bold;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}
