.section-home,
.section-library,
.section-kickstarter{
  background-color: $dark-brown;
}

//HOME
.section-home{
  color: $light-tan;
  position: relative;
  // overflow-y: hidden;

  &-logo{
    position: relative;
    padding-top: 8vh;

    svg {
      width: 60%;
      display: block;
      margin: 0 auto;
      max-height: 30vh;
      path{
        fill: $light-tan;
      }
    }
  }

  &-text{
    margin-top: 12vh;
    max-width: 50%;
    padding-left: 5%;
    padding-bottom: 6rem;
    position: relative;

    button{
      margin-top: 1.5rem;
    }
  }
}

.scroll-pointer{
  @include transform(translateX(-50%));
  position: absolute;
  display: block;
  left: 50%;
  bottom: 16px;
  opacity: .5;
  text-decoration: none;
  color: $light-tan;
  // margin-top: 1.5rem;

  &:hover{
    opacity: 1;
  }

  svg{
    display: block;
    width: 24px;
    height: 100%;
    margin: 0 auto;
  }

  &-text{
    text-align: center;
    font-style: italic;
  }
}

.finger-svg{
  fill: $light-tan;
}

//ABOUT
.section-contact{
  .section-left{
    height: 99%;
  }

  &-links{
    list-style: none;
    &-icon{
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      svg{
        display: inline-block;
        width: 100%;
        height: auto;
      }
    }
    li{
      margin: 1rem 0;
      vertical-align: middle;
    }
    a{
      text-decoration: none;
      color: $dark-brown80;
      font-style: italic;
      font-weight: bold;
      vertical-align: top;

      &:hover,
      &:focus{
        text-decoration: underline;
        color: $gold;
      }
    }
  }
}

//LIBRARY
.section-library{
  background-color: $light-tan;

  .section-bg-img{
    opacity: .7;
  }
}

//KICKSTARTER
.section-kickstarter{
  color: $light-tan;
}

//FAQ
.section-faq{
  height: auto;
  padding-top: 96px;
  padding-bottom: 48px;

  h1{
    text-align: center;
    padding: .5rem;
  }
}

.faq-card{
  @include display(flex);
  @include align-items(center);
  background: white;
  background-image:url(/images/paper-card.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  padding: 1.5rem 2rem 1.5rem 1rem;
  margin: 4rem auto;
  box-shadow: 1px 1px 2px 2px $dark-brown20;

  &:last-child{
    margin-bottom: 0px;
  }

  &-image{
    @include flex(0 0 30%);
    height: 100%;

    svg{
      display: block;
      max-height: 100%;
      width: 90%;
      margin: 0 auto;
      opacity: .75;
    }
  }

  &-text{
    @include flex(1 1 auto);
    h2{
      margin-bottom: 1rem;
    }
  }

  &-list{
    max-width: 1000px;
    margin: 0 auto;
    padding: 48px 120px;
  }
}
